  @font-face {
      font-family: "arial";
      src: url("/fonts/ARIAL.woff");
     }
  @font-face {
      font-family: "comic";
      src: url("/fonts/ComicMS.woff");
     }
  @font-face {
      font-family: "times";
      src: url("/fonts/TIMES.woff");
     }
    h1 { font-family:comic;
      color: DeepPink;
     }

    p { font-family:comic;
      color: black;
     }

 body {
  background-image: url("imagens/fundo.gif");
}
