@font-face
      {
        font-family:"A16";src:url(fonts/ARIAL.woff) format("woff");font-weight:normal;font-style:normal;font-display:swap}
@font-face {
  font-family: "A16";
  src: url("/fonts/ARIAL.woff") format("woff");
}

h1 {
      font-family: A16
}
